<div class="container">
  <div class="row">
    <div class="content col-xs-12 col-sm-offset-2 col-sm-3">

      <h1><%= @cocktail.name %></h1>
      <%= link_to cocktails_path, class: "button" do %>
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <% end %>
        <i class="fa fa-trash-o button" aria-hidden="true" type="button" class="navbar-wagon-item navbar-wagon-button btn" data-toggle="modal" data-target="#delete_ingredient"></i>
      <%= render "cocktails/modal" %>

      <h3>Composition:</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> <%= dose.ingredient.name %>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6 image_container">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>
  </div>

  <div class="row">
    <div class="ingredients">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <%= render "doses/doses_form" %>
      </div>
    </div>
  </div>
</div>

<h2></h2>
